@model  OriginV2.Web.ViewModels.UserViewModel

@{
    ViewBag.Title = "CategoryView";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<style type="text/css">
    .modal-dialog {
        width: 100%;
    }
</style>

<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <h4 class="page-title">Cập nhật quyền</h4>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                @using (@Html.BeginForm("AddOrUpdate", "User", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    @Html.HiddenFor(model => model.Id)

                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Tên <span class="text-danger">*</span></label>
                        @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                        @Html.ValidationMessageFor(x => x.FullName, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Email <span class="text-danger">*</span></label>
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", required = "required", type = "email" } })
                        @Html.ValidationMessageFor(x => x.Email, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Hình ảnh</label>
                        <div class="input-group">
                            @Html.TextBoxFor(model => model.PathImage, new { @id = "fieldID", @class = "form-control path_file", placeholder = "Hình ảnh", required = "required" })
                            @Html.ValidationMessageFor(x => x.PathImage, "", new { @class = "text-danger" })
                            <div class="input-group-append btn-upfle">
                                <a data-toggle="modal" data-target="#myModal" class="btn btn-dark " style="color: white">
                                    <i class="fa fa-upload" style="color: white"></i>
                                    Browse
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Quyền <span class="text-danger">*</span></label>
                        @Html.DropDownListFor(model => model.RoleID, ViewBag.ListOfRoles as SelectList, "----Lựa Chọn----", new { @id = "DropDwnRoles", @class = "form-control" })
                    </div>


                    @Html.HiddenFor(model => model.AccountID)
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Tài khoản <span class="text-danger">*</span></label>
                        @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                        @Html.ValidationMessageFor(x => x.Username, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Mật khẩu <span class="text-danger">*</span></label>
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" , required = "required"} })
                        @Html.ValidationMessageFor(x => x.Password, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group text-right mb-0">
                        <button class="btn btn-primary" type="submit">Lưu</button>
                    </div>
                }
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="myModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Quản lý tệp tin</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

            </div>
            <div class="modal-body">
                <iframe src="/filemanager/dialog.php?type=1&fldr=&field_id=fieldID" frameborder="0" style="overflow:hidden; min-height:600px; height:100%;width:100%" height="100%" width="100%"></iframe>
            </div>
        </div>
    </div>
</div>